.mug-control li.active {
  background-color: var(--yellow);
}

.mug-container.active {
  animation: show-left .3s forwards;
  display: grid;
}

@media (max-width: 640px) {
  .mug-container.active {
    animation: show-up .3s forwards;
  }
}